{{define "body" -}}
<body>
    <div class="wrap">
        <div class="header">
        </div><!-- .header -->
        <div class="content">
        {{template "content" .}}
        </div><!-- .content -->
        <div class="sidebar">
        </div><!-- .sidebar -->
        <div class="clear"></div>
        <div class="footer">
        </div><!-- .footer -->
    </div><!-- .wrap -->
</body>
{{end}}