 <!DOCTYPE html>
 <html>
    <head>
    <title>Terminal Output</title>
    {{- block "terminal.css" . -}}{{- end -}}
    </head>
    <body>
        <div class="term-container">{{.}}</div>
    </body>
  </html>